{{- range $date, $summariesByDate := . }}
*{{ $date | toDayOfWeek }} ({{ $date }})*:
{{ range $summary := $summariesByDate }}
_[{{ $summary.Key }}]({{ $summary.Link }})_:
{{- range $commentLine := $summary.LastComment.Body | toSlice }}
>{{ $commentLine | cleanJiraLinks }}
{{- end }}
{{- end }}
{{ end }}
