{{- range $userName, $userSummaries := . }}
*{{ $userName }}*:
  {{- range $date, $summariesByDate := $userSummaries }}
*{{ $date | toDayOfWeek }} ({{ $date }})*:
    {{- range $jiraIssue := $summariesByDate }}
        {{- if $jiraIssue.LastStatusTransition.From }}
[{{ $jiraIssue.Issue.Key }}: {{ $jiraIssue.Issue.Fields.Summary }}]({{ $jiraIssue.Link }}) ({{ $jiraIssue.LastStatusTransition.From }} --> {{ $jiraIssue.LastStatusTransition.To }}):
        {{- else }}
[{{ $jiraIssue.Issue.Key }}: {{ $jiraIssue.Issue.Fields.Summary }}]({{ $jiraIssue.Link }}) (Still In Progress):
        {{- end }}
        {{- if eq (len $jiraIssue.Comments) 0 }}
> {{ $jiraIssue.Issue.Fields.Summary }}
        {{- else }}
                {{- range $comment := $jiraIssue.Comments }}
> {{ $comment.Body | cleanJiraUserMentions | toMarkdownLinks | cleanJiraImages }}
                {{- end }}
        {{- end }}
    {{- end }}
  {{- end }}
  =======================
{{- end }}
